extends ./index.jade
doctype html
block title
  title #{title}
block style
  link(rel='stylesheet',href='styles/common.css')
block personal_js
  script(src="js/stays.js")
block table-title
  h2 Stays <b>List</b>
block add-entity 
  a.btn.btn-success(href="#addModal",data-toggle='modal')<i class='material-icons'>&#xE147;</i><span>Add New Stay</span>
block remove-entity
  a.btn.btn-danger(href='#deleteModal',data-toggle='modal')<i class='material-icons'>&#xE15C;</i> <span>Delete</span>
block table-attributes-names      
  th ID
  th User ID
  th Admitted Date
  th Exit Date
  th Medical State
  th Actions
block table  
  each stay,i in stays.rows
    tr
      td
        span.custom-checkbox
          input(type='checkbox',id='checkbox#{i}',name='options[]',value='1')
          label(for='checkbox#{i}')
      td #{stay.id} 
      td #{stay.UserId}     
      td #{stay.admittedDate}
      td #{stay.exitDate}
      td #{stay.medicalState}  
      td
        a.edit(href='#editModal',data-toggle='modal', data-id='#{stay.id}') <i class='material-icons' data-toggle='tooltip' title='Edit'>&#xE254;</i>
        a.delete(href='#deleteModal',data-toggle='modal',data-id="#{stay.id}") <i class='material-icons' data-toggle='tooltip' title='Delete'>&#xE872;</i>
block pagination-numbers
  li.page-item  <a href="/stay?page=#{x}" class='page-link'>#{x}</a>  
block add-edit-modal                       
  <!-- Edit Modal HTML -->
  #addModal.modal.fade
    .modal-dialog
      .modal-content
        form(action='/stay/create', method='post')
          .modal-header
            h4.modal-title Add Stay
            button.close(type='button',data-dismiss='modal',aria-hidden='true')&times;

          .modal-body
            .form-group
              label Admitted Date
              input.form-control(type='datetime-local',required, name="admittedDate")
            .form-group
              label User ID
              select.form-control.form-select(display="block",aria-label="Default select example",name="UserId")
                option(selected) Select State
                each user in users
                  option(value="#{user.id}") #{user.firstName} #{user.lastName}
            .form-group
              label Exit Date
              input.form-control(type='datetime-local', name="exitDate")
            .form-group
              label Medical State
              select.form-control.form-select(display="block",aria-label="Default select example",name="medicalState")
                option(selected) Select State
                option(value="Resuscitation") Resuscitation
                option(value="Emergency") Emergency
                option(value="Urgent") Urgent
                option(value="Less Urgent") Less Urgent
                option(value="Not Urgent") Not Urgent    
          .modal-footer
            input.btn.btn-default(type='button',data-dismiss='modal',value='Cancel')
            input.btn.btn-success(type='submit',value='Add')

  #editModal.modal.fade
    .modal-dialog
      .modal-content
        form#formEdit(action="javascript:void(0);")
          .modal-header
            h4.modal-title Edit Stay
            button.close(type='button',data-dismiss='modal',aria-hidden='true')&times;

          .modal-body
            .form-group
              label Exit Date
              input.form-control(type='text',required, name="exitDate")

            .form-group
              label Medical State
              textarea.form-control(type="text", required, name="medicalState")

          .modal-footer
            input.btn.btn-default(type='button',data-dismiss='modal',value='Cancel')
            input.btn.btn-info(type='submit',value='Save')
block delete-modal-title
  h4.modal-title Delete Stay