extends ./index.jade
doctype html
block title 
  title #{title}
block style 
  link(rel='stylesheet',href='styles/users.css')
block content  
  .container-xl
    .table-responsive
      .table-wrapper
        .table-title
          .row
            .col-sm-6
              h2 Users <b>List</b>
            .col-sm-6
              a.btn.btn-success(href="#addUserModal",data-toggle='modal')<i class='material-icons'>&#xE147;</i> <span>Add New Employee</span>
              a.btn.btn-danger(href='#deleteUserModal',data-toggle='modal')<i class='material-icons'>&#xE15C;</i> <span>Delete</span>
        table.table.table-striped.table-bordered.table-sm(id="user-table")
          thead
            tr
              th
                span.custom-checkbox
                  input(type='checkbox',id='selectAll')
                  label(for='selectAll')
              th ID
              th First Name
              th Last Name
              th Email
              th Actions
          tbody
            each user,i in users.rows
              tr
                td
                  span.custom-checkbox
                    input(type='checkbox',id='checkbox#{i}',name='options[]',value='1')
                    label(for='checkbox#{i}')
                td #{user.id}    
                td #{user.firstName}
                td #{user.lastName}
                td #{user.email}
                td
                  a.edit(href='#editUserModal',data-toggle='modal') <i class='material-icons' data-toggle='tooltip' title='Edit'>&#xE254;</i>
                  a.delete(href='#deleteUserModal',data-toggle='modal',data-id="#{user.id}") <i class='material-icons' data-toggle='tooltip' title='Delete'>&#xE872;</i>
        .clearfix
          //.hint-text Showing <b>5</b> out of <b>25</b> entries
          ul.pagination
            //li.page-item  <a href='#'class='page-link'>Previous</a>
            - for (var x=1; x<5; x++)
              li.page-item  <a href="/user?page=#{x}" class='page-link'>#{x}</a>
            //li.page-item <a href='#' class='page-link'>Next</a>    
  block modals          
    <!-- Edit Modal HTML -->
    #addUserModal.modal.fade
      .modal-dialog
        .modal-content
          form(action='/user/create', method='post')
            .modal-header
              h4.modal-title Add Employee
              button.close(type='button',data-dismiss='modal',aria-hidden='true')&times;

            .modal-body
              .form-group
                label First Name
                input.form-control(type='text',required, name="firstName")
              .form-group
                label Last Name
                input.form-control(type='text',required, name="lastName")

              .form-group
                label Email
                input.form-control(type='email',required, name="email")


            .modal-footer
              input.btn.btn-default(type='button',data-dismiss='modal',value='Cancel')
              input.btn.btn-success(type='submit',value='Add')

    <!-- Edit Modal HTML -->
    #editUserModal.modal.fade
      .modal-dialog
        .modal-content
          form
            .modal-header
              h4.modal-title Edit Employee
              button.close(type='button',data-dismiss='modal',aria-hidden='true')&times;

            .modal-body
              .form-group
                label Name
                input.form-control(type='text',required)

              .form-group
                label Email
                input.form-control(type='email',required)

              .form-group
                label Address
                textarea.form-control(required)

              .form-group
                label Phone
                input.form-control(type='text',required)

            .modal-footer
              input.btn.btn-default(type='button',data-dismiss='modal',value='Cancel')
              input.btn.btn-info(type='submit',value='Save')
    <!-- Delete Modal HTML -->
    #deleteUserModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title Delete Employee
            button.close(type='button',data-dismiss='modal',aria-hidden='true')&times;

          .modal-body
            p Are you sure you want to delete these Records?
            p.text-warning <small>This action cannot be undone.</small>

          .modal-footer
            a.btn.btn-default(data-dismiss='modal') Cancel
            a.btn.btn-danger(id="delete-button") Delete
  script. 
    $(document).ready(function(){
      // Activate tooltip
      $('[data-toggle="tooltip"]').tooltip();
      
      // Select/Deselect checkboxes
      var checkbox = $('table tbody input[type="checkbox"]');
      $("#selectAll").click(function(){
        if(this.checked){
          checkbox.each(function(){
            this.checked = true;                        
          });
        } else{
          checkbox.each(function(){
            this.checked = false;                        
          });
        } 
      });
      checkbox.click(function(){
        if(!this.checked){
          $("#selectAll").prop("checked", false);
        }
      });
    });
  script. 
    $('#deleteUserModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('id') // Extract info from data-* attributes
      $('a').click(function(event) {
        $.ajax({
            url: '/user/' + recipient + '/delete',
            type: 'delete',
            dataType: 'application/json',
            complete: function () {
                $('#deleteUserModal').modal('hide')
                location.reload()
                return false
            }
        });
      })
    })
  script. 
    $('#delete-button').click(function(event) {
      var result = $("tr:has(:checked)")
      var table = result.map(function () {
          return [$(this).children().slice(1).map(function () {
              return $(this).text().trim()
          }).get()]
      }).get()
      var json = []
      console.log(table[0][0])
      if (table[0][0] == "ID"){
        var conTable = 1
        var tableLength = table.length - 1
      }
      else {
        var conTable = 0
        var tableLength = table.length
      }
      for (var x = 0; x < tableLength; x++) {
        json[x] = table[conTable++][0]
      }
      console.log(JSON.stringify(json,0,"\t"))
    })

